@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

$font-size-small: 0.75rem;
$font-size-standard: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 2rem;
$font-size-xxx-large: 5rem;
$font-size-hero-cta: 15rem;
$font-size-hero-cta-secondary: 4.5rem;

$color-white: #fff;
$color-blue: rgb(44,54,85);

$font-family-inter: 'Inter', sans-serif;
$font-family-playfair: 'Playfair Display', serif;