@import '../../theme/variables.scss';

.bar-wrapper {
    display: flex;

    .menu-item {
        font-size: $font-size-standard;
        margin: 0;
    }

    .menu-item:after {
        content: "\00a0+\00a0";
    }

    .menu-item:last-of-type:after {
        content: "";
    }
}
  
@media (max-width: 768px) {
.bar-wrapper {
    display: none;
}
}